:root {
  --main-color: #800000;
  --border-color: #931420;
}

html {
  background-color: #fffdfd;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1000px;
  margin: 2em auto;
  border: 6px solid var(--border-color);
  padding: 0;
  background-color: white;
}

a:hover,
a:focus {
  font-style: italic;
}

em.shadow {
  text-shadow: 1px 1px var(--main-color);
}

/* Header */
header {
  background-color: #f6bb73;
  border-bottom: 3px solid var(--border-color);
  padding: 1.5em 30px 2em;
}

header img {
  float: left;
  margin-right: 30px;
}

header h2 {
  color: var(--main-color);
}

header h3 {
  border-top: 3px solid var(--border-color);
  padding-top: 1em;
}

/* Main content */
main {
  clear: left;
  padding: 0 30px;
}

main h1 {
  font-size: 150%;
  color: var(--main-color);
  border-bottom: 2px solid var(--border-color);
  padding-bottom: 0.2em;
  margin-top: 1.5em;
}

main h2 {
  color: var(--main-color);
  font-size: 130%;
  margin-top: 1.2em;
}

main h3 {
  font-size: 105%;
  margin-top: 1em;
}

/* Footer */
footer {
  background-color: #800000;
  color: white;
  border-top: 3px solid var(--border-color);
  padding: 1em 30px;
  font-size: 90%;
}
